<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
<div class="container mx-auto">
    <h1 class="text-xl font-medium text-black">Commandes de la journée</h1>
</div>
<div class="container mx-auto">
    Nombres de commandes : {{ invoices | length }}
</div>
<div class="container mx-auto">
    Total H.T. : {{ invoices | sum(attribute='amount_untaxed') }}
</div>
<div x-data="{invoices: {{ invoices }}}" class="container mx-auto">
    <table class="table-fixed">
        <thead>
        <tr>
            <th class="w-1/4">ID</th>
            <th class="w-1/4">Référence</th>
            <th class="w-1/2">Montant</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="invoice in invoices" :key="invoices.id">
            <tr>
                <td x-text="invoice.id"></td>
                <td x-text="invoice.name"></td>
                <td x-text="invoice.amount_untaxed"></td>
            </tr>
        </template>
        </tbody>
    </table>
    <div class="pagination">
        <button class="previous" @click="previousPage(page).then(r => {page=r.page, campaigns=r.campaigns})">
            Précédent
        </button>
        <button class="next" @click="nextPage(page).then(r => {page=r.page, campaigns=r.campaigns})">
            Suivant
        </button>
        <div class="page-indicator" x-text="`Page ${page}`"></div>
    </div>
</div>
</body>
</html>