# Project
coworks.egg-info/
build/
dist/
**/.terraform
**/*.tfstate*
Pipfile.lock
.env

# Samples
**/*.secret.json
samples/*/terraform
samples/*/Pipfile.lock
samples/*/node_modules/

# Tests example
tests/example/*.zip

# Doc tools
coworks/cattr.py

# Dev tools
.idea/
**/__pycache__/
**/*.http
docs/_build/
.pytest_cache/
**/*.log

