# Project
coworks.egg-info/
build/
dist/
**/.terraform
**/*.tfstate*
Pipfile.lock

# Samples
**/*.secret.json

# Tests example
tests/example/.sconsign.dblite
tests/example/terraform
tests/example/Pipfile.lock
tests/example/*.zip

# Dev tools
.idea/
**/__pycache__/
**/*.http
build/
docs/_build/
.pytest_cache/
**/*.log


