# Project
coworks.egg-info/
build/
dist/

# Samples
**/*.secret.json
samples/**/terraform

# Example
tests/example/.sconsign.dblite
tests/example/terraform
tests/example/Pipfile.lock
tests/example/*.zip

# Dev tools
.idea/
**/__pycache__/
**/*.http
build/
docs/_build/
.pytest_cache/
**/*.log


