[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
anyconfig = ">=0.12"
boto3 = ">=1.19"
flask = ">=2.0"
markdown = ">=3.3.6"
pyyaml = ">=6.0"
pycrypto = "*"
flask-login = "*"
flask-wtf = "*"
python-dotenv = "*"

[dev-packages]
#  Uninstall flask-appbuilder after
apache-airflow = "*"
apache-airflow-providers-amazon = "*"
aws_xray_sdk = "*"
boto3-stubs = "*"
codecov = "*"
flask-sqlalchemy = "*"
hypothesis = "*"
mock = "*"
mysqlclient = "*"
psycopg2 = "*"
pytest = "*"
pytest-env = "*"
requests = "*"
sentry-sdk = "*"
sphinx = "*"
sqlalchemy = "*"
twine = "*"
watchdog = "*"
websocket = "*"
wheel = "*"
