[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
coworks = {path = ".",editable = true}

[dev-packages]
codecov = "*"
wheel = "*"
pytest = "*"
requests = "*"
twine = "*"
watchdog = "*"
hypothesis = "*"
mock = "*"
websocket = "*"
sphinx = "*"
ipdb = "*"
pytest-env = "*"
sqlalchemy = "*"
psycopg2 = "*"
mysqlclient = "*"
python-terraform = "*"

[requires]
python_version = "3.7"
