{% macro posts(posts, post_ids) -%}

    <!-- Post -->
    {% for post in posts %}
        <article class="box post">
            <header>
                <h2><a href="#">{{ post.title_h2 }}</a></h2>
            </header>
            <a href="#" class="image featured"><img src="images/pic04.jpg" alt=""/></a>
            <h3>{{ post.subtitle_h3 }}</h3>
            {{ post.description }}
            <ul class="actions">
                <li><a href="#" class="button icon solid fa-file">Lire plus ...</a></li>
            </ul>
        </article>
    {% endfor %}

{%- endmacro %}
