# ---------------------------------------------------------------------------------------------------------------------
# LOCALS FOR THIS MICROSERVICE
# ---------------------------------------------------------------------------------------------------------------------

locals {
  {{ ms_name }}_security_group_ids = {{ security_groups | list | replace("'", '"') }}
  {{ ms_name }}_subnet_ids = {{ subnets | list | replace("'", '"')}}
}
