# ---------------------------------------------------------------------------------------------------------------------
# LOCALS FOR THIS MICROSERVICE
# ---------------------------------------------------------------------------------------------------------------------

locals {
  {{ resource_name }}_security_group_ids = []
  {{ resource_name }}_vpc_id = []
  {{ resource_name }}_subnet_ids = []
}
