# ---------------------------------------------------------------------------------------------------------------------
# OUTPUT
# ---------------------------------------------------------------------------------------------------------------------

{% if stage == "common" -%}
output "{{ ms_name }}_id" {
  value = aws_api_gateway_rest_api.{{ ms_name }}.id
}
{% endif -%}
