provider "aws" {
  alias = "{{ resource_name }}"
  profile = "{{ profile_name }}"
  region = "{{ aws_region or "eu-west-1" }}"

  default_tags {
    tags = {
      Creator = "terraform"
      MicroService = "{{ ms_name }}"
      Stage = "{{ workspace }}"
    }
  }
}

data "aws_caller_identity" "current" {}

locals {
  account_id = data.aws_caller_identity.current.account_id
  region = "{{ aws_region or "eu-west-1" }}"
}
