locals {
  {{ resource_name }}_api_arn = join("", aws_api_gateway_rest_api.{{ resource_name }}.*.arn, data.aws_api_gateway_rest_api.{{ resource_name }}.*.arn)
  {{ resource_name }}_api_id = join("", aws_api_gateway_rest_api.{{ resource_name }}.*.id, data.aws_api_gateway_rest_api.{{ resource_name }}.*.id)
  {{ resource_name }}_api_root_id = join("", aws_api_gateway_rest_api.{{ resource_name }}.*.root_resource_id, data.aws_api_gateway_rest_api.{{ resource_name }}.*.root_resource_id)
  {{ resource_name }}_api_binary_media_types = ["multipart/form-data", "application/octet-stream", "image/*"]
}

# ---------------------------------------------------------------------------------------------------------------------
# API GATEWAY
# ---------------------------------------------------------------------------------------------------------------------

resource "aws_api_gateway_rest_api" "{{ resource_name }}" {
  provider = aws.{{ resource_name }}
  count = local.{{ resource_name }}_when_default
  name = "{{ resource_name }}"
  description = "{{ description | replace("\n", "\\n") }}"
  {%- if binary_media_types %}
  binary_media_types = concat(local.{{ resource_name }}_api_binary_media_types, {{ binary_media_types | tojson }})
  {%- else %}
  binary_media_types = local.{{ resource_name }}_api_binary_media_types
  {%- endif %}
  endpoint_configuration {
    types = ["REGIONAL"]
  }
}

data "aws_api_gateway_rest_api" "{{ resource_name }}" {
  provider = aws.{{ resource_name }}
  count = local.{{ resource_name }}_when_stage
  name = "{{ resource_name }}"
}

resource "aws_api_gateway_authorizer" "{{ resource_name }}" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  name = "{{ resource_name }}-auth"
  rest_api_id = local.{{ resource_name }}_api_id
  authorizer_uri = "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:935392763270:function:{{ resource_name }}-$${stageVariables.stage}/invocations"
  authorizer_result_ttl_in_seconds = 0
}

{%- for uid, resource in api_resources.items() %}
  {% if resource.path %}
resource "aws_api_gateway_resource" "{{ resource_name }}_{{ uid }}" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.parent_is_root %}
  parent_id = local.{{ resource_name }}_api_root_id
  {%- else %}
  parent_id = aws_api_gateway_resource.{{ resource_name }}_{{ resource.parent_uid }}[0].id
  {%- endif %}
  path_part = "{{ resource.path }}"
}
  {% endif %}
  {%- if resource.rules %}
    {%- for rule in resource.rules %}
    {%- for method in rule.methods if method not in ['HEAD', 'OPTIONS'] %}
resource "aws_api_gateway_method" "{{ resource_name }}_{{ uid }}_{{ method }}" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.is_root %}
  resource_id = local.{{ resource_name }}_api_root_id
  {%- else %}
  resource_id = aws_api_gateway_resource.{{ resource_name }}_{{ uid }}[0].id
  {%- endif %}
  http_method = "{{ method }}"
  {%- if rule.cws_no_auth %}
  authorization = "NONE"
  {%- else %}
  authorization = "CUSTOM"
  authorizer_id = aws_api_gateway_authorizer.{{ resource_name }}[0].id
  {%- endif %}

  request_parameters = {
    "method.request.header.Accept" = false
    "method.request.header.InvocationType" = false
    "method.request.header.Referer" = false
    "method.request.header.X-Forwarded-Host" = false
  }
}
resource "aws_api_gateway_integration" "{{ resource_name }}_{{ uid }}_{{ method }}" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.is_root %}
  resource_id = local.{{ resource_name }}_api_root_id
  {%- else %}
  resource_id = aws_api_gateway_resource.{{ resource_name }}_{{ uid }}[0].id
  {%- endif %}
  http_method = "{{ method }}"
  integration_http_method = "POST"
  type = "AWS"
  uri = "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:935392763270:function:{{ resource_name }}-$${stageVariables.stage}/invocations"
  passthrough_behavior = "NEVER"
  content_handling = "CONVERT_TO_TEXT"
  request_parameters = {
    "integration.request.header.Accept" = "method.request.header.Accept",
    "integration.request.header.Referer" = "method.request.header.Referer",
    "integration.request.header.X-Amz-Invocation-Type" = "method.request.header.InvocationType",
    "integration.request.header.X-Forwarded-Host" = "method.request.header.X-Forwarded-Host",
  }
  request_templates  = {
    {% include "terraform/request_templates.j2" %}
  }
  depends_on = [aws_api_gateway_method.{{ resource_name }}_{{ uid }}_{{ method }}]
}
resource "aws_api_gateway_method_response" "{{ resource_name }}_{{ uid }}_{{ method }}_response_200" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.is_root %}
  resource_id = local.{{ resource_name }}_api_root_id
  {%- else %}
  resource_id = aws_api_gateway_resource.{{ resource_name }}_{{ uid }}[0].id
  {%- endif %}
  http_method = "{{ method }}"
  status_code = "200"
  depends_on = [aws_api_gateway_method.{{ resource_name }}_{{ uid }}_{{ method }}]
}
resource "aws_api_gateway_integration_response" "{{ resource_name }}_{{ uid }}_{{ method }}_response_200" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.is_root %}
  resource_id = local.{{ resource_name }}_api_root_id
  {%- else %}
  resource_id = aws_api_gateway_resource.{{ resource_name }}_{{ uid }}[0].id
  {%- endif %}
  http_method = join("", aws_api_gateway_method.{{ resource_name }}_{{ uid }}_{{ method }}.*.http_method)
  status_code = "200"
  {%- if not rule.cws_binary %}

  # Transforms the backend JSON response
  response_templates = {
    "application/json" = <<-EOF
      #set($inputRoot = $input.path('$'))
      #set($context.responseOverride.status=$inputRoot.statusCode)
      #set($context.responseOverride.header=$inputRoot.headers)
      $input.json('$.body')
    EOF
    "text/html" = <<-EOF
      #set($inputRoot = $input.path('$'))
      #set($context.responseOverride.status=$inputRoot.statusCode)
      #set($context.responseOverride.header=$inputRoot.headers)
      $inputRoot.body
    EOF
  }
  {%- endif %}
  depends_on = [aws_api_gateway_method_response.{{ resource_name }}_{{ uid }}_{{ method }}_response_200]
}
{%- endfor %}
{%- endfor %}

{# Preflighted requests in CORS #}

{%- if not resource.no_cors_methods -%}
resource "aws_api_gateway_method" "{{ resource_name }}_{{ uid }}_OPTIONS" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.is_root %}
  resource_id = local.{{ resource_name }}_api_root_id
  {%- else %}
  resource_id = aws_api_gateway_resource.{{ resource_name }}_{{ uid }}[0].id
  {%- endif %}
  http_method = "OPTIONS"
  authorization = "NONE"
}
resource "aws_api_gateway_integration" "{{ resource_name }}_{{ uid }}_OPTIONS" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.is_root %}
  resource_id = local.{{ resource_name }}_api_root_id
  {% else %}
  resource_id = aws_api_gateway_resource.{{ resource_name }}_{{ uid }}[0].id
  {% endif -%}
  http_method = "OPTIONS"
  type = "MOCK"
  request_templates = {
    "application/json" = "{ \"statusCode\": 200 }"
  }
  depends_on = [aws_api_gateway_method.{{ resource_name }}_{{ uid }}_OPTIONS]
}
resource "aws_api_gateway_integration_response" "{{ resource_name }}_{{ uid }}_OPTIONS" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.is_root %}
  resource_id = local.{{ resource_name }}_api_root_id
  {%- else %}
  resource_id = aws_api_gateway_resource.{{ resource_name }}_{{ uid }}[0].id
  {%- endif %}
  http_method = "OPTIONS"
  status_code = 200
  response_templates = {
    "application/json": <<-EOF
      #set($context.responseOverride.header={
        'Access-Control-Allow-Origin': '*',
        'Access-Control-Allow-Headers': 'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token',
        'Access-Control-Allow-Methods': '{%- for method in resource.no_cors_methods -%}{{ method }}{%- endfor -%}'
      })
    EOF
  }
  depends_on = [aws_api_gateway_integration.{{ resource_name }}_{{ uid }}_OPTIONS]
}
resource "aws_api_gateway_method_response" "{{ resource_name }}_{{ uid }}_OPTIONS" {
  provider = aws.{{ resource_name }}
  count = {{ "local.{}_when_default".format(resource_name) }}
  rest_api_id = local.{{ resource_name }}_api_id
  {%- if resource.is_root %}
  resource_id = local.{{ resource_name }}_api_root_id
  {%- else %}
  resource_id = aws_api_gateway_resource.{{ resource_name }}_{{ uid }}[0].id
  {%- endif %}
  http_method = "OPTIONS"
  status_code = 200
  response_models = {
    "application/json" = "Empty"
  }
  response_parameters = {
    "method.response.header.Access-Control-Allow-Headers" = true,
    "method.response.header.Access-Control-Allow-Methods" = true,
    "method.response.header.Access-Control-Allow-Origin" = true,
  }
  depends_on = [aws_api_gateway_method.{{ resource_name }}_{{ uid }}_OPTIONS]
}
{%- endif %}
{%- endif %}
{%- endfor %}

{# API Deployments #}

{%- if api_resources %}
resource "aws_api_gateway_deployment" "{{ resource_name }}" {
  provider = aws.{{ resource_name }}
  count = local.{{ resource_name }}_when_stage
  rest_api_id = local.{{ resource_name }}_api_id
  description = "{{ workspace }}: at ${timestamp()}"
  triggers = {
    timestamp = timestamp() {# force redeployment #}
  }
  lifecycle {
    create_before_destroy = true
  }
  depends_on = [aws_cloudwatch_log_group.api_{{ resource_name }}]
}

resource "aws_api_gateway_stage" "{{ resource_name }}" {
  provider = aws.{{ resource_name }}
  count = local.{{ resource_name }}_when_stage
  stage_name = "{{ workspace }}"
  rest_api_id = local.{{ resource_name }}_api_id
  deployment_id = aws_api_gateway_deployment.{{ resource_name }}[0].id
  xray_tracing_enabled = true
  depends_on = [aws_cloudwatch_log_group.api_{{ resource_name }}]
  variables = {
    stage = "{{ workspace }}"
  }
}

resource "aws_cloudwatch_log_group" "api_{{ resource_name }}" {
  provider = aws.{{ resource_name }}
  count = local.{{ resource_name }}_when_stage
  name = "API-Gateway-Execution-Logs_${local.{{ resource_name }}_api_id}/{{ workspace }}"
  retention_in_days = 7
}
{% endif -%}
