import requests

class Proxy{{ name | capitalize }}:

    def __init__(stage, token):
        self.name = '{{ name }}'
        self.session = requests.Session()
        self.session.headers = {
            'Authorization': token,
            'Content-Type': 'application/json',
            'Accept': 'application/json',
        }
        self.url = f'url/{{ '{{' }}stage{{ '}}' }}'

{%- for path, entrypoint in entries.items() %}
    {%- for http_method, route_entry in entrypoint.items() %}
    def {{ route_entry.fun.__name__ }}{{ route_entry.fun | signature }}:
        route = f'{self.url}/"'{{ route_entry.fun | positional_params }}
        self.session.{{ http_method | lower }}(route, data={{ '{' }}{{ route_entry.fun | keyword_params }}{{ '}' }})
    {%- endfor %}
{%- endfor %}