# ---------------------------------------------------------------------------------------------------------------------
# LAMBDA
# ---------------------------------------------------------------------------------------------------------------------

data "archive_file" "{{ module }}" {
  source_file = "{{ module }}.py"
  output_path = "{{ module }}.zip"
  type = "zip"
}

resource "aws_lambda_function" "{{ module }}" {
  filename = data.archive_file.{{ module }}.output_path
  function_name = "{{ module }}"
  role = data.aws_iam_role.microservice.arn
  handler = "{{ module }}.{{handler}}"
  runtime = "python3.7"

  source_code_hash = filebase64sha256(data.archive_file.{{ module }}.output_path)

  environment {
    variables = {
      TOKEN = var.token
    }
  }

  tags = {
    Product: "microservice"
    Target: "{{ module }}"
    Creator: "coworks"
  }
}

resource "aws_lambda_permission" "{{ module }}" {
  statement_id = "AllowExecutionFromAPIGateway"
  action = "lambda:InvokeFunction"
  function_name = aws_lambda_function.{{ module }}.function_name
  principal = "apigateway.amazonaws.com"
}

# ---------------------------------------------------------------------------------------------------------------------
# APIGATEWAY
# ---------------------------------------------------------------------------------------------------------------------

resource "aws_api_gateway_rest_api" "{{ module }}" {
  name = "MyDemoAPI"
  description = "This is my API for demonstration purposes"
}

resource "aws_api_gateway_integration" "{{ module }}" {
  count = length(local.csv_routes)
  rest_api_id = data.aws_api_gateway_rest_api.{{ module }}.id
  resource_id = local.csv_routes[count.index].resource_id
  http_method = local.csv_routes[count.index].http_method
  integration_http_method = "POST"
  type = "AWS_PROXY"
  uri = aws_lambda_function.{{ module }}.invoke_arn
}

resource "aws_api_gateway_deployment" "{{ module }}" {
  depends_on = [aws_api_gateway_integration.{{ module }}]
  rest_api_id = data.aws_api_gateway_rest_api.{{ module }}.id
  stage_name = "prod"
}

resource "aws_api_gateway_stage" "{{ module }}" {
  deployment_id = aws_api_gateway_deployment.{{ module }}.id
  rest_api_id = data.aws_api_gateway_rest_api.{{ module }}.id
  stage_name = "prod"
  xray_tracing_enabled = true

  variables = {
    Stage = "prod"
  }

  tags = {
    Product: "microservice"
    Target: "{{ module }}"
    Creator: "coworks"
  }
}
