{% macro banners(banners, banner_ids) -%}

    {% if banners.visible %}
        <!-- Banner -->
        {% for banner in banners.banners if banner.slug in banner_ids %}
            <section id="banner">
                <div class="container">
                    {{ banner.content }}
                </div>
            </section>
        {% endfor %}
    {% endif %}

{%- endmacro %}
