{% macro excerpts(excerpts, post_ids) -%}

    <!-- Excerpts -->
    <section>
        <ul class="divided">
            {% for post in excerpts %}
                <li>

                    <!-- Excerpt -->
                    <article class="box excerpt">
                        <header>
                            <span class="date">{{ post.date }}</span>
                            <h3><a href="#">{{ post.title_h2 }}</a></h3>
                        </header>
                        {{ post.excerpt }}
                    </article>

                </li>
            {% endfor %}
        </ul>
    </section>

{%- endmacro %}
