{% macro notes(notes, post_ids) -%}

    <!-- Notes -->
    <section>
        <ul class="divided">
            {% for post in notes %}
                <li>

                    <!-- Note -->
                    <article class="box highlight">
                        <header>
                            <h3><a href="#">{{ post.title_h2 }}</a></h3>
                        </header>
                        <a href="#" class="image left"><img src="images/pic06.jpg" alt=""/></a>
                        {{ post.description }}
                        <ul class="actions">
                            <li><a href="#" class="button icon solid fa-file">En savoir plus</a></li>
                        </ul>
                    </article>

                </li>
            {% endfor %}
        </ul>
    </section>

{%- endmacro %}
