{% from 'base/menu.j2' import menu as menu_ %}

<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>{{ title_h1 }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{ assets_url }}/assets/css/main.css"/>
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="header">
        <div class="container">

            {% block head %}
            {% endblock %}

            <!-- Nav -->
            {{ menu_(root, products, references, posts) }}

        </div>
    </section>


    <!-- Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% block footer %}
        <div id="legal" class="container">
            <ul class="links">
                <li>&copy; MORASSUTI. All rights reserved.</li>
                <li><a href="/form">Nous contacter</a></li>
            </ul>
        </div>
    {% endblock %}

</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="{{ assets_url }}/assets/js/jquery.min.js"></script>
<script src="{{ assets_url }}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{ assets_url }}/assets/js/browser.min.js"></script>
<script src="{{ assets_url }}/assets/js/breakpoints.min.js"></script>
<script src="{{ assets_url }}/assets/js/util.js"></script>
<script src="{{ assets_url }}/assets/js/main.js"></script>

</body>
</html>