{% extends "base.j2" %}

{% block head %}
    <h1 id="logo">Nous contacter</h1>
{% endblock %}


{% block content %}

    <section id="main">
        <div class="container">
            <header>
                <h2>Une question ou une demande de devis? :</h2>
            </header>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <section>
                        <form method="post" action="#">
                            <div class="row gtr-50">
                                <div class="col-6 col-12-small">
                                    <input name="name" placeholder="Name" type="text"/>
                                </div>
                                <div class="col-6 col-12-small">
                                    <input name="email" placeholder="Email" type="text"/>
                                </div>
                                <div class="col-12">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <a href="#" class="form-button-submit button icon solid fa-envelope">Send
                                        Message</a>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
