{% extends "base.j2" %}

{% block head %}
    <div class="row">
        <div class="col-6 col-6-medium col-12-small">
            <img src="https://cdn.cosmicjs.com/{{ image }}" alt="{{ title_h1 }}"
            style="width:75%;"/>
        </div>
        <div class="col-6 col-12-medium">
            <h1>{{ title_h1 }}</h1>

            <div class="col-12 col-12-medium">
                {{ presentation }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section id="main">
        <div class="container">
            <div class="row">

                <div class="col-12 col-12-medium">
                    {{ content }}
                </div>

                <div class="col-12 col-12-medium">
                    {{ final_text }}
                </div>

            </div>
        </div>
    </section>
{% endblock %}
