{% include 'terraform/provider.j2' with context %}

#
# Remove lines below to delete every ressources of this microservice
#

{% include 'terraform/local.j2' with context %}

{% include 'terraform/role.j2' with context %}

{% include 'terraform/rest_api.j2' with context %}

{% include 'terraform/lambda.j2' with context %}

{% include 'terraform/output.j2' with context %}
