locals{
    layers-{{ resource_name }} = {{ layers if layers else '[]'}}
    {% if environment_variable_files != [] %}
    environment_variables_{{ resource_name }} = [
        for envars_string in data.local_file.environment_variables_files_{{ resource_name }}: jsondecode(envars_string.content)
    ]
    {% endif %}
}

# ---------------------------------------------------------------------------------------------------------------------
# LAMBDA
# ---------------------------------------------------------------------------------------------------------------------

data "aws_s3_bucket_object" "{{ resource_name }}-b64sha256" {
  bucket = local.bucket
  key = "${local.key}.b64sha256"
}

data "aws_lambda_layer_version" "{{ resource_name }}" {
  for_each = {for layer_name in local.layers-{{ resource_name }}: layer_name => layer_name}
  layer_name = each.value
}

resource "aws_lambda_function" "{{ resource_name }}" {
  count = local.when_stage
  function_name = "{{ resource_name }}-${terraform.workspace}"
  s3_bucket = local.bucket
  s3_key = local.key
  source_code_hash =  data.aws_s3_bucket_object.{{ resource_name }}-b64sha256.body
  role = local.role_arn
  handler = "{{ module_file }}.{{ handler }}"
  {% if layers %}
  layers = data.aws_lambda_layer_version.{{ resource_name }}.*.arn
  {% endif %}
  runtime = local.python
  timeout = {{ timeout }}
  memory_size = {{ memory_size }}
  {% if environment_variable_files != [] %}
  environment {
    variables = merge([for item in local.environment_variables_{{ resource_name }}: merge(item,local.environment_variables_{{ resource_name }}...)][0], {"WORKSPACE":"{{ workspace }}"})
  }
  {% else %}
  environment {
    variables = {"WORKSPACE":"{{ workspace }}"}
  }
  {% endif %}
  tracing_config {
    mode = "Active"
  }
  vpc_config {
    security_group_ids = local.security_group_ids
    subnet_ids = local.subnet_ids
  }
  tags = local.tags
}

data "aws_lambda_function" "{{ resource_name }}" {
  count = {{ 'terraform.workspace == "default"' if step == "update" else 'false'}} ? 1 : 0
  function_name = "{{ resource_name }}-{{ workspace }}"
}

