{% set resource_name = "{}-{}".format(module_file, ms_name) %}

{% include 'provider.j2' with context %}

{% include 'local.j2' with context %}

{% include 'api.j2' with context %}

{% include 'lambda.j2' with context %}
